#价格数据源
spring:
  datasource:
    price:
      url: jdbc:mysql://127.0.0.1:3306/price?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: root
      password: root
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 10
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true
    ##elastic_job数据库
    elastic-job:
      url: jdbc:mysql://127.0.0.1:3306/elastic_job?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: root
      password: root
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 10
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true
    ##余杭仓库数据源
    idoo:
      url: jdbc:mysql://rr-bp1bstq8mtcz7qjyzo.mysql.rds.aliyuncs.com:3306/idoo?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: reader
      password: yuanshujureader
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 10
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true
    ##萧山仓库
    idooxs:
      url: jdbc:mysql://rr-bp18jyv3z53fstco6o.mysql.rds.aliyuncs.com:3306/idoo_xs?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: data_bi
      password: ftDz2Agg4R3zRcwt
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 300
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true
    ##心怡仓库
    idoohn:
      url: jdbc:mysql://rr-bp14yl14sebb98z4eo.mysql.rds.aliyuncs.com:3306/idoo_hn?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: read_only
      password: cB1SrrZQA2wcWztR
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 10
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true

#当当elastic-job配置
elastic-job:
  regCenter:
    serverList: 34.214.167.47:2181,34.218.222.177:2181,54.202.149.169:2181
    namespace: dev-googs-jobss
  #定时任务配置
  ##1、全量价格更新定时任务
  updateGoodsPriceJob:
    cron: 0/59 * * * * ?
    shardingTotalCount: 1
    shardingItemParameters: 0=0
  ##2、采购价更新定时任务
  updatePurchasePriceJob:
    cron: 0 1-2 * * * ?
    shardingTotalCount: 1
    shardingItemParameters: 0=0

