#价格数据源、elastic-job数据源
spring:
  datasource:
    price:
      url: jdbc:mysql://114.55.75.116:3306/order_center?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: root
      password: C#m9klT@n4!N3m
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 300
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true
    elastic-job:
      url: jdbc:mysql://114.55.75.116:3306/elastic_job?useSSL=false&useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&tinyInt1isBit=false
      username: root
      password: C#m9klT@n4!N3m
      driver-class-name: com.mysql.jdbc.Driver
      druid:
        min-idle: 1
        max-active: 300
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 50
        initial-size: 1
        max-wait: 60000
        validation-query: select 1
        test-while-idle: true

#当当elastic-job配置
elastic-job:
  regCenter:
    serverList: 34.214.167.47:2181,34.218.222.177:2181,54.202.149.169:2181
    namespace: dev-googs-jobss
  #定时任务配置
  ##1、全量价格更新定时任务
  updateGoodsPriceJob:
    cron: 0/30 * * * * ?
    shardingTotalCount: 3
    shardingItemParameters: 0=0,1=1,2=2
  ##2、采购价更新定时任务
  updatePurchasePriceJob:
    cron: 0/30 * * * * ?
    shardingTotalCount: 3
    shardingItemParameters: 0=0,1=1,2=2

